<p class="subheader">
  Projects
</p>

<div class="row">
  <ul class="project-list">
    <% @projects.each do |project| %>
          <li class="project-item">
            <div class="info">
                <h4 class="text-center"><%= project.name %></h4>
                <h6 class="text-center"><%= project.author %></h6>
                <p><%= project.description.truncate 40 %></p>
                <div class="username">
                  <p><%= project.user.username %></p>
                </div>
                <div class="actions">
                  <%= link_to 'Show', project, class: 'link' %>
                  <%= link_to 'Edit', edit_project_path(project), class: 'link' %>
                  <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link'  %>
                </div>
            </div>
          </li>
    <% end %>
  </ul>
</div>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>