<div class="row">
  <div class="small-6 large-6 columns">
    <h3><%= @project.author %> : <%= @project.name %></h3>
    <p><%= @project.description %></p>
    <%= link_to 'Edit', edit_project_path(@project) %>
  </div>
  <div class="small-6 large-6 columns">
    <%= form_for([@project, @chapter]) do |f| %>
        <% if @chapter.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
                <% @chapter.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :name, "Создать новую часть " %><br>
          <%= f.text_field :name, placeholder: 'Введите название части', required: true %>
        </div>
        <div class="field">
          <%= f.label :chapter_file, "Загрузить часть", direct_upload: true %><br>
          <%= f.file_field :chapter_file, required: true %>
        </div>
        <div class="actions">
          <%= f.submit 'Загрузить', class: "button"  %>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-6 large-centered columns">
    <p class="lead text-center">Chapters</p>
    <table class="hover">
      <% @project.chapters.each do |chapter| %>
          <tr>
            <td><h3><%= link_to chapter.name, chapter  %></h3></td>
            <td><div class="callout secondary small"><%= chapter.filename %>
              <br>Status: <%= chapter.status.capitalize %></div></td>
            <td><div class="callout secondary"><%= chapter.completed_phrases_count %>/<%= chapter.phrases_count %></div></td>
            <% if chapter.opened? %>

            <% else %>

            <% end %>
            <td><%= button_to 'Delete', chapter, method: :delete, data: {confirm: 'Are you sure?'}, class: "alert button"  %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

